# Optional public overrides for the Umami configuration defined in
# `astro.config.ts`.
PUBLIC_UMAMI_SCRIPT_URL=https://cloud.umami.is/script.js
PUBLIC_UMAMI_WEBSITE_ID=782d2000-b3aa-4c57-9654-928a79c43972
